.card {
    /*Sombras y efectos para el card*/
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0  4px;
  }
  
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.384);
  }
  
  /* padding dentro del contenedor*/
  .container2 {
    padding: 2px 16px;
  }

  .row {
    display: flex;
   justify-content: center;
    margin: auto;
  }
  
  .column {
    flex: 1;
    padding: 5px;
    margin-left: 5rem;
    margin-right: 5rem;
    max-width: 20%;
  }

  .row2{
    display: flex;
    justify-content: center;
    margin: auto;

  }

  .column2{
    flex: 1;
    padding: 5px;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .row3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;


  }

  .column3{
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
  }